 <%= form_for(@timesheet) do |f| %> 
	<% if @timesheet.errors.any? %>
	  <div id="error-explanation">
	    <h2><%= pluralize(@timesheet.errors.count,"error")%> prohibited this from being saved :</h2>
	   <ul>
	   <% @timesheet.errors.full_messages.each do |message|%>
	    <li><%= message%></li>
	    <%end%>
	  </ul>
	  </div>
	<%end%>
	<button type="button" id="new_timesheet" style="margin-left:55px" class="btn-info">Add Timesheet</button><br></br>
	<div id ="timesheet_container" class="container">
	        <div class="timesheet row form-inline" id="timesheet0" style="border:1px solid grey; background:#555;margin:10px 150px 25px 16px;">
	            
		        <div class="form-group col-xs-2" style="padding:10px;margin:5px;">
				 <%=f.select :project_id,options_from_collection_for_select(Project.all,:id,:name), {prompt: "Project"},{name: "timesheet[0][project_id]",id: "project_id[0]",required: "required",class: "form-control"} %>
				</div>
		   
		   	
				<div class="form-group col-xs-2" style="padding:10px;margin:5px;">
				  <%= f.select :hours,[0,1,2,3,4,5,6,7,8],{prompt:"Hours"},{name: "timesheet[0][hours]",id: "hours[0]",required: "required",class: "form-control"}%><br><br/>
				</div>
			
			 
	            <div class="form-group col-xs-5" style="padding:10px;margin:5px;">
			     <%= f.text_area :description,{name: "timesheet[0][description]",id: "description[0]" ,required: "required",placeholder: "Description",class: "form-control"}%>
				</div>
				

				 <button class="remove btn btn-danger" style="padding:12px;margin:13px;" data-sheet="timesheet0" >X</button><br><br/>
			</div>

	</div>
	<div class="actions" id="create" style="text-align:center;margin-right:200px">
	 <%= f.submit("Save Entries",{class: "btn btn-primary"}) %>
	</div>
	<%end%>
   <script type="text/javascript">
   $(document).ready(function(){

   	
   	$("button#new_timesheet").click(function(){
   	       var length = $(".timesheet").length;
           
   		$.ajax({
   			url: "/timesheets/newtimesheet",
   			type: "GET",
   			data: {index: length }
   			}).done(function(response){
   				$("#timesheet_container").append(response.result);
   				var length = $(".timesheet").length;
   				if (length > 0){
   					$("#create").show();
   				}
   			});
   		});
   	  $("#timesheet_container").on("click","button.remove",function(){
   	  	$(this).parent("div").remove();
   	  	var length = $(".timesheet").length;
   	  	if (length == 0){
   	  		$("#create").hide();
   	  	}


     // console.log($("#"+$(this).attr("data-sheet")));
   	});
  });
   

   
    
   		
   </script>
   				
   		