<%= form_for(:timesheet, url: timesheets_path, method: :post) do |f| %>
  <% if @exception.present? %>
    <div id="error_explanation">
      <ul>
      <p><%= @exception %></p>
    </div>
  <% end %>
 <div id='timesheet-container'>
  <%= f.fields_for :timesheet_1 do |ff| %>
  <div class="add-timesheet-fields">
    <div class="field">
      <%= ff.label :Project_Name %><br>
      <%= ff.select(:project_id,options_from_collection_for_select(Project.all,'id','name'), {}, class: 'project_id') %>
    </div>
    <div class="field">
      <%=ff.label :description %><br>
      <%=ff.text_area :description, class: 'description' %>
    </div>
    <div class="field">
      <%= ff.label  :hours %><br>
      <%= ff.select :hours, ['1','2','3','4','5','6','7','8'], {}, class: 'hours' %>
    </div>
  </div>
  <% end %>
 </div>
  <p>
    <input type="button" id="add-timesheet" value ="Add Timesheet">
  </p>
  <div class = "actions">
    <%= submit_tag "Save" %>
  </div>
  <%end%>
  

   
  






<script>

  </script>
  
