
<div class="timesheet row form-inline" id="<%= generate_new_timesheet_id(index) %>" style="border:1px solid grey;background-color:#555;margin:10px 150px 16px 16px;">
	<div class="form-group col-xs-2" style="padding:5px;margin:5px;">
		
        <%=select_tag :project_id,options_from_collection_for_select(Project.all,:id,:name),{name: "timesheet[#{index}][project_id]",id: "project_id#{index}",required: "required",prompt:"Project",class: "form-control"}%>
	</div>
	<div class="form-group col-xs-2" style="padding:5px;margin:5px;">
		
		<%= select_tag :hours,options_for_select([0,1,2,3,4,5,6,7,8]),{name: "timesheet[#{index}][hours]",id: "hours#{index}",required:"required",prompt:"Hours",class: "form-control"}%><br><br/>
	</div>  		  
	<div class="form-group col-xs-5" style="padding:5px;margin:5px;">
		
		<%= text_area :description,{},{name: "timesheet[#{index}][description]",id: "descrition#{index}",required: "required",placeholder: "Description",class: "form-control"}%>
	</div>
	

	<button class="remove btn btn-danger" style="padding:12px;margin:13px"  data-sheet="timesheet<%=index%>">X</button><br>
</div>
